/*-----FONT-----*/
/*La media query font-face permet de charger des typo préalablement telechargé.
On definis son nom, le liens vers la typo et la taille concerné --weight. */
@font-face {
  font-family: proximaNova;
  src: url(../elements/fonts/ProximaNova-Bold-webfont.woff);
  font-weight: 700;
}
@font-face {
  font-family: proximaNova;
  src: url(../elements/fonts/ProximaNova-Reg-webfont.woff);
  font-weight: 500;
}
@font-face {
  font-family: proximaNova;
  src: url(../elements/fonts/ProximaNova-Light-webfont.woff);
  font-weight: 300;
}

/*retouche de classes bootstrap*/
.container-fluid{
  padding: 0;
}
/*Generation de Classes Perso Orienté Objet*/
.titleLink-sm, .titleLink-sm a{
  font-size: 45px;
  font-family:proximaNova;
  font-weight: 300;
  text-transform: uppercase;
}
.higthLink,.higthLink a{
  font-size: 70px;
  text-transform: uppercase;
  font-family:proximaNova;
  font-weight: 500;
}
.textC{
  text-align: center;
}
.borderSide{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
/*HeaderStyle Spec*/
.menu > ul > li{
  border-bottom: 1px solid grey;
  padding: 0;
}
.menu img{
  padding: 26px 35px;
}
.menu li>ul>li{
  padding: 20px 0;
}
.menu .higthLink{
  padding: 29px 0;
}
.menu .higthLink i:before{
  margin-left: 28px;
}
.colorOrange, .colorOrange a{
  color: #c52b1c;
}
.colorGrey, .colorGrey a{
  color: #A6B8C3;
}
