@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

/* ---- header ---- */
  /* 1. Mettre Nav en position absolute
   2. Ajouter la propriété bottom:50px; sur nav
   3. Ajouter les propriété position:relative sur header;
   4. enlever position relative header et ajouter sur body
*/

/*----- Balises -----*/
header{
  position: relative;
  background-image: url('../img/woddPlank.jpg');
}

nav{
  top:40px;
  position: absolute;
  right: 25px;
  }
  nav a{
    margin:30px;
    font-size:30px;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Caveat Brush', cursive;
  }
  nav li{

  }

.logoResto{
  position: relative;
  display: inline-block;
  margin-left: 80px;
}

h1{
  font-family: 'Caveat Brush', cursive;
  text-transform: uppercase;
  font-size: 50px;
  }
  h1 span{
    font-size: 40px;
    display: inline;
    vertical-align: top;
    position: relative;
  }
  h1 span:after{
    top: 15px;
    content: "-";
    position: absolute;
    left: 0;
  }
h2{
  text-transform: uppercase;
  font-size: 40px;
  font-family: sans-serif;
}
#story h2{
  font-size: 55px;
}

  /*Class pour les traits Roses*/
.rectRose{
  bottom: 12px;
  position: absolute;
  margin: 0;
  display: block;
  border: 7px solid #E53F6F;
  padding: 0 17px;
  width: 0px;
  left: 26%;
}
section .rectRose{
  position: inherit;
  margin: auto;
  left: 0;
  bottom:15px;
}
/*----- Id -----*/
#logo{
  width: 300px;
  margin:auto;
  position: relative;
  margin-top: 250px;
  padding-bottom: 250px;
  }
  #logo div{
  	width: 0;
  	height: 0;
  	border-top: 250px solid #E53F6F;
  	border-left: 250px solid transparent;
  }
  #logo img{
    top: -27px;
    position: absolute;
    width: 100%;
  }

.inlineB{
  display: inline-block;
}

/* ---------- */

section img{
  width: 100%;
}
section > section{
  overflow: hidden;
  height: 820px;
  text-align: center;
}
section p, section h2{
  padding: 0 15%;
}
.pBloque-left, .pBloque-right{
  display: inline-block;
  vertical-align: middle;
  /*height: 820px;*/
  overflow: hidden;
}
.pBloque-left{
  width: 40%;
  overflow: visible;
  position: relative;
}
.pBloque-right{
  width: 60%;
}
#story img{
  transform: scaleX(-1);
  width: 125%;
}
#soap .pBloque-left{
    width: 30%;
}
#soap .pBloque-right{
    width: 70%;
}
#soap{
  height: 900px;
}
/*#soap .pBloque-left{
  width: 83%;
}
#soap .pBloque-right{
  width: 17%;
}*/
#story div{
  transform: scaleX(-1);
  height: 100%;
  background-image: url('../img/asperge.jpg');
  background-size: cover;
}
#local{
  height: 755px;
}
.txtRose{
  color: #E53F6F;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}
header .fa{
  color:red;
  background-color:white;
  margin:10px;
  padding:0 6px;
  border-radius:10px;
  transition: 1s;
}
header .fa:hover{
  color:blue;
  background-color:darkmagenta;
  animation-name: clignote;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes clignote {
  0%{
    color:blue;
    background-color:darkmagenta;
  }

  50%{
    color:purple;
    background-color:#2196F3;
  }
  100%{
    color:blue;
    background-color:darkmagenta;
  }
}

/*p{
  position: relative;
}
p:before{
  font-size: 200px;
  content:"-->";
  color: red;
  /*position: absolute;*/
  /*height: 15px;
  width: 15px;
}*/
.pBloque-left > img{
  width: 50%;
}
#local .pBloque-left img{
  position: relative;
  top: 70px;
  z-index: -1;
}
#eggs{
  width: 100%;
}
/* footer */
footer{
  padding: 150px 0;
  background-image: url('../img/pattern.jpg');
}
footer>div{
  display: inline-block;
  width: 50%;
}
footer p{
  font-family: sans-serif;
  text-transform: uppercase;
  padding-left: 78px;
  font-size: 0.9em;
}
#social ul{
  float: right;
  margin-right: 50px;
}
#social li{
  display: inline-block;
  text-align: right;
  margin:0 5px;
  color: #E53F6F;
}
