.inlineB{
  display: inline-block;
  /*width: 1200px;*/
}
body{
  background-image:url('../img/fond01.png');
  background-size: cover;
  width: 1200px; 
}

header{
  position: relative;
}
nav{
  position: absolute;
  right: 30px;
}
nav ul{
  list-style-type: none;
  display: inline-block;
  margin-right: 2px;
}
#logo{
  top: 60px;
  margin: auto;
  width: 200px;
  height: 240px;
  position: relative;
}
#logo img{
  top: -59px;
  position: absolute;
  width: 100%;
}
