body{
  background-color: red;
  }
  header{
      background-color: cyan;
    }
    nav{
      background-color: yellow;
    }

.classN1{
    background-color: yellow;
    color: red;
  }
  nav .classN1{
    background-color: blue;
  }
